<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Выберите пункт меню</p>
<p> 1 - Связь с членом команды помощи для решения возникших вопросов </p>
<p> 2 - Пройти тест "Знаешь ли ты, что делать при различных инцидентах" </p>
<p> 3 - Поиск нужных действий при различных инцидентах </p>
<p> 4 - Работа с записями от команды помощи </p>
<p> 5 - Отправить заявку на закрепление определённого отряда помощи за этим предприятием </p>
<p> 6 - Подать заявление о инциденте </p>
<p> 7 - Оценить приложение </p>
<p> 8 - Пройти тест, чтобы выявить моменты, из-за которых могут случиться инциденты </p>
<p> 9 - Авторизация, которая включает в себя ввод логина с паролем </p>
<p> 10 - Регистрация, которая также включает в себя ввод логина и пароля, но добавляет ввод контактных данных </p>
</body>
</html>