<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button href="#" class="button2" tabindex="0">Работа с реальными заявлениями о инцидентах</button>
<button href="#" class="button2" tabindex="0">Формирование отчёта о проделанной помощи</button>
<button href="#" class="button2" tabindex="0">Формирование записи в личном кабитнете пользователя о действиях в будущем по ликвидации последствий инцидента </button>
</body>
</html>