<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Incident | Add</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="jquery.datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="tail.select-bootstrap4.css">
    <!--link type="text/css" rel="stylesheet" th:href="@{/static/select/bootstrap4/tail.select-default.min.css}" /-->
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/error.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/datetimepicker/jquery.datetimepicker.css}" >
    <link  rel="stylesheet" type="text/css" th:href="@{/static/datetimepicker/jquery.datetimepicker.min.css}" >
    <script th:src="@{/static/select/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--<div th:replace="home/adminHeader :: acss"></div>-->
    <!--div th:replace="header :: header-css"/-->
</head>
<body>
<div th:replace="home/clientHeader :: client-header"/>
<!--<form th:action="@{/menuClient}" method="post">-->
<p>Возможности</p>

<a href="/problems/ProblemsAdd"><button class="button2" tabindex="0" style="margin: 4px"> 1 - Связь с членом команды помощи для решения возникших вопросов </button></a>

<a href="/Tests/TestDiffIncident"><button  class="button2" tabindex="0" style="margin: 4px"> 2 - Пройти тест "Знаешь ли ты, что делать при различных инцидентах" </button></a>

<a href="/Incidents/showAllIncidents"><button  class="button2" tabindex="0" style="margin: 4px"> 3 - Поиск нужных действий при различных инцидентах </button></a>

<a href="/detachment/addFixDetachment"><button  class="button2" tabindex="0" style="margin: 4px"> 4 - Отправить заявку на закрепление определённого отряда помощи за этим предприятием </button></a>

<a href="/Incidents/addIncident"><button  class="button2" tabindex="0" style="margin: 4px"> 5 - Подать заявление о инциденте </button></a>

<a href="/showAppRating"><button  class="button2" tabindex="0" style="margin: 4px"> 6 - Оценить приложение </button></a>

<a href="/Tests/TestMoments"><button  class="button2" tabindex="0" style="margin: 4px"> 7 - Пройти тест, чтобы выявить моменты, из-за которых могут случиться инциденты </button></a>
<!--</form>-->
</body>
</html>