<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ProblemsAdd</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="jquery.datetimepicker.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="tail.select-bootstrap4.css">

        <link  rel="stylesheet" type="text/css" th:href="@{/static/css/error.css}" >
        <link  rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" >
        <link  rel="stylesheet" type="text/css" th:href="@{/static/css/problemsAdd.css}" >
        <link  rel="stylesheet" type="text/css" th:href="@{/static/datetimepicker/jquery.datetimepicker.css}" >
        <link  rel="stylesheet" type="text/css" th:href="@{/static/datetimepicker/jquery.datetimepicker.min.css}" >
        <script th:src="@{/static/select/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <div th:replace="userHeader :: acss"></div>
    </head>
    <body>
    <div class="wrapper">
        <form th:action="@{/problems/SendProblem}" method="post" th:object="${obj}">
            <h5 th:text = #{text.nameProblem}></h5>
            <input class="form-control" name="problemName">
            <h5 th:text = #{text.descriptionProblem}></h5>
            <input class="form-control" name="descriptionProblem">
            <h5 th:text = #{text.nameClient}></h5>
            <input class="form-control" name="userEntity.firstNameUser">
            <h5 th:text ="#{text.detachmentName}"></h5>
            <div>
                <select class="form-control col-lg-auto " name="detachmentEntity.id"  id="select1"  required  >
                    <th:block th:each="detachment : ${detachments}"  >
                        <option th:value="${detachment.id}" th:text="${detachment.detachmentName}">S</option>
                    </th:block>
                </select>
            </div>
            <div style="padding-top: 37px">
                <input type="submit" class="btn btn-success" th:value="#{text.addProblem}">
            </div>

        </form>
    </div>
    </body>
</html>